Project/ProductApp/Service References/DeliverSvc/DeliverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeliverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IDeliverService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/DeliverService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/DeliverService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/DeliverService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductSvr.Model" />
      <xsd:import schemaLocation="http://localhost:8081/DeliverService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeliverService_DeliverAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:DeliverAdd" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_DeliverAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliverAddResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliver_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliver" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliver_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliverReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverReport" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliverReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverReportResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliverProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverProduct" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_GetDeliverProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeliverProductResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_DeliveryDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryDelete" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_DeliveryDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_DeliveryRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryRecord" />
  </wsdl:message>
  <wsdl:message name="IDeliverService_DeliveryRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeliveryRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeliverService">
    <wsdl:operation name="DeliverAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/DeliverAdd" message="tns:IDeliverService_DeliverAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/DeliverAddResponse" message="tns:IDeliverService_DeliverAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliver">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/GetDeliver" message="tns:IDeliverService_GetDeliver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/GetDeliverResponse" message="tns:IDeliverService_GetDeliver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliverReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/GetDeliverReport" message="tns:IDeliverService_GetDeliverReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/GetDeliverReportResponse" message="tns:IDeliverService_GetDeliverReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliverProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/GetDeliverProduct" message="tns:IDeliverService_GetDeliverProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/GetDeliverProductResponse" message="tns:IDeliverService_GetDeliverProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeliveryDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/DeliveryDelete" message="tns:IDeliverService_DeliveryDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/DeliveryDeleteResponse" message="tns:IDeliverService_DeliveryDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeliveryRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeliverService/DeliveryRecord" message="tns:IDeliverService_DeliveryRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeliverService/DeliveryRecordResponse" message="tns:IDeliverService_DeliveryRecord_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IDeliverService" type="tns:IDeliverService">
    <wsp:PolicyReference URI="#NetTcpBinding_IDeliverService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="DeliverAdd">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/DeliverAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliver">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/GetDeliver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverReport">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/GetDeliverReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverProduct">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/GetDeliverProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryDelete">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/DeliveryDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryRecord">
      <soap12:operation soapAction="http://tempuri.org/IDeliverService/DeliveryRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDeliverService" type="tns:IDeliverService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeliverAdd">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/DeliverAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliver">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/GetDeliver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverReport">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/GetDeliverReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliverProduct">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/GetDeliverProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryDelete">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/DeliveryDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeliveryRecord">
      <soap:operation soapAction="http://tempuri.org/IDeliverService/DeliveryRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliverService">
    <wsdl:port name="NetTcpBinding_IDeliverService" binding="tns:NetTcpBinding_IDeliverService">
      <soap12:address location="net.tcp://localhost:9091/DeliverService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9091/DeliverService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDeliverService" binding="tns:BasicHttpBinding_IDeliverService">
      <soap:address location="http://localhost:8081/DeliverService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>