Project/ProductApp/Service References/SupplierSvc/SupplierService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SupplierService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISupplierService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/SupplierService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/SupplierService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/SupplierService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductSvr.Model" />
      <xsd:import schemaLocation="http://localhost:8081/SupplierService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISupplierService_SupplierAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierAdd" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_SupplierAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierAddResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_SupplierModify_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierModify" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_SupplierModify_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierModifyResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_SupplierDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierDelete" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_SupplierDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_GetSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_RecordSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordSupplier" />
  </wsdl:message>
  <wsdl:message name="ISupplierService_RecordSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="ISupplierService">
    <wsdl:operation name="SupplierAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/SupplierAdd" message="tns:ISupplierService_SupplierAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/SupplierAddResponse" message="tns:ISupplierService_SupplierAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierModify">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/SupplierModify" message="tns:ISupplierService_SupplierModify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/SupplierModifyResponse" message="tns:ISupplierService_SupplierModify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/SupplierDelete" message="tns:ISupplierService_SupplierDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/SupplierDeleteResponse" message="tns:ISupplierService_SupplierDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/GetSupplier" message="tns:ISupplierService_GetSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/GetSupplierResponse" message="tns:ISupplierService_GetSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordSupplier">
      <wsdl:input wsaw:Action="http://tempuri.org/ISupplierService/RecordSupplier" message="tns:ISupplierService_RecordSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISupplierService/RecordSupplierResponse" message="tns:ISupplierService_RecordSupplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISupplierService" type="tns:ISupplierService">
    <wsp:PolicyReference URI="#NetTcpBinding_ISupplierService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SupplierAdd">
      <soap12:operation soapAction="http://tempuri.org/ISupplierService/SupplierAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierModify">
      <soap12:operation soapAction="http://tempuri.org/ISupplierService/SupplierModify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <soap12:operation soapAction="http://tempuri.org/ISupplierService/SupplierDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierService/GetSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordSupplier">
      <soap12:operation soapAction="http://tempuri.org/ISupplierService/RecordSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ISupplierService" type="tns:ISupplierService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SupplierAdd">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/SupplierAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierModify">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/SupplierModify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SupplierDelete">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/SupplierDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/GetSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordSupplier">
      <soap:operation soapAction="http://tempuri.org/ISupplierService/RecordSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SupplierService">
    <wsdl:port name="NetTcpBinding_ISupplierService" binding="tns:NetTcpBinding_ISupplierService">
      <soap12:address location="net.tcp://localhost:9091/SupplierService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9091/SupplierService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ISupplierService" binding="tns:BasicHttpBinding_ISupplierService">
      <soap:address location="http://localhost:8081/SupplierService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>