Project/ProductApp/Service References/SupplierSvc/SupplierService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductSvr.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductSvr.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplier_id" type="xs:long" />
      <xs:element minOccurs="0" name="supplier_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
</xs:schema>