Project/ProductApp/Service References/RoomSvc/RoomService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoomService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Room_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/RoomService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/RoomService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/RoomService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProductSvr.Model" />
      <xsd:import schemaLocation="http://localhost:8081/RoomService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Room_RoomAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:RoomAdd" />
  </wsdl:message>
  <wsdl:message name="Room_RoomAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoomAddResponse" />
  </wsdl:message>
  <wsdl:message name="Room_RoomModify_InputMessage">
    <wsdl:part name="parameters" element="tns:RoomModify" />
  </wsdl:message>
  <wsdl:message name="Room_RoomModify_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoomModifyResponse" />
  </wsdl:message>
  <wsdl:message name="Room_RoomDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:RoomDelete" />
  </wsdl:message>
  <wsdl:message name="Room_RoomDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoomDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="Room_GetRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="Room_GetRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="Room_RecordRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:RecordRoom" />
  </wsdl:message>
  <wsdl:message name="Room_RecordRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecordRoomResponse" />
  </wsdl:message>
  <wsdl:portType name="Room">
    <wsdl:operation name="RoomAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/Room/RoomAdd" message="tns:Room_RoomAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Room/RoomAddResponse" message="tns:Room_RoomAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoomModify">
      <wsdl:input wsaw:Action="http://tempuri.org/Room/RoomModify" message="tns:Room_RoomModify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Room/RoomModifyResponse" message="tns:Room_RoomModify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoomDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/Room/RoomDelete" message="tns:Room_RoomDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Room/RoomDeleteResponse" message="tns:Room_RoomDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/Room/GetRoom" message="tns:Room_GetRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Room/GetRoomResponse" message="tns:Room_GetRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecordRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/Room/RecordRoom" message="tns:Room_RecordRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Room/RecordRoomResponse" message="tns:Room_RecordRoom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_Room" type="tns:Room">
    <wsp:PolicyReference URI="#NetTcpBinding_Room_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RoomAdd">
      <soap12:operation soapAction="http://tempuri.org/Room/RoomAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomModify">
      <soap12:operation soapAction="http://tempuri.org/Room/RoomModify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDelete">
      <soap12:operation soapAction="http://tempuri.org/Room/RoomDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap12:operation soapAction="http://tempuri.org/Room/GetRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordRoom">
      <soap12:operation soapAction="http://tempuri.org/Room/RecordRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_Room" type="tns:Room">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RoomAdd">
      <soap:operation soapAction="http://tempuri.org/Room/RoomAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomModify">
      <soap:operation soapAction="http://tempuri.org/Room/RoomModify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoomDelete">
      <soap:operation soapAction="http://tempuri.org/Room/RoomDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction="http://tempuri.org/Room/GetRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordRoom">
      <soap:operation soapAction="http://tempuri.org/Room/RecordRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoomService">
    <wsdl:port name="NetTcpBinding_Room" binding="tns:NetTcpBinding_Room">
      <soap12:address location="net.tcp://localhost:9091/RoomService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9091/RoomService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_Room" binding="tns:BasicHttpBinding_Room">
      <soap:address location="http://localhost:8081/RoomService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>