Project/ProductApp/Service References/ProductSvc/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductSvr.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductSvr.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="product_price" type="xs:int" />
      <xs:element minOccurs="0" name="qty_stock" type="xs:int" />
      <xs:element minOccurs="0" name="uom_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Uom">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uom_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Uom" nillable="true" type="tns:Uom" />
</xs:schema>